<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retailer Dashboard</title>
    <link rel="stylesheet" href="/css/Customer1.css"> 
</head>
<body>
    <div class="dashboard">
        <h1 class="title">Customer Dashboard</h1>        
        <div class="container">
            <div class="box">
                <a href="/Customer1/Customer11">
                    <i class="fas fa-box-open"></i>
                    <span>Show Order</span>
                </a>
            </div>
            <div class="box">
                <a href="/Customer1/Customer12">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Enter Problem</span>
                </a>
            </div>
            <div class="box">
                <a href="/Customer1/Customer13">
                    <i class="fas fa-info-circle"></i>
                    <span>Show Status</span>
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
