<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retailer Dashboard</title>
    <link rel="stylesheet" href="/css/retailer1.css"> 
</head>
<body>
    <div class="username" id="username">
    <div class="dashboard">
        <h1 class="title">Retailer Dashboard</h1>        
        <div class="container">
            <div class="box">
                <a href="/retailer1/retailer11">
                    <i class="fas fa-plus-circle"></i>
                    <span>Enter Product Sold</span>
                </a>
            </div>
            <div class="box">
                <a href="/retailer1/retailer12">
                    <i class="fas fa-box"></i>
                    <span>Products Sold</span>
                </a>
            </div>
            <div class="box">
                <a href="/retailer1/retailer13">
                    <i class="fas fa-exclamation-circle"></i>
                    <span>Problem Received</span>
                </a>
            </div>
            <div class="box">
                <a href="/retailer1/retailer14">
                    <i class="fas fa-check-circle"></i>
                    <span>Solution Entry</span>
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
