<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibrant Circles Background with Form</title>
    <link rel="stylesheet" href="/css/retailer11.css">
    <link rel="stylesheet" href="/css/form1.css">
</head>
<body>
    <div class="form-container">
        <h2>Solution Form</h2>
        <form action="/retailer14" method="post">
            <label for="problem_id">Problem ID:</label>
            <input type="text" id="customer_id" name="customer_id" required><br><br>

            <label for="customer_id">Customer ID:</label>
            <input type="text" id="customer_id" name="customer_id" required><br><br>

            <label for="item_bought">Item Bought:</label>
            <input type="text" id="item_bought" name="item_bought" required><br><br>

            <label for="problem">Problem in Item:</label>
            <br>
            <textarea id="problem" name="problem" rows="4" required></textarea><br><br>

            <label for="problem">Solution:</label>
            <br>
            <textarea id="problem" name="problem" rows="4" required></textarea><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
